---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Experiences from '../components/Experiences.astro';
import Inclusions from '../components/Inclusions.astro';
import MemorableMoments from '../components/MemorableMoments.astro';
import Itinerary from '../components/Itinerary.astro';
import Support from '../components/Support.astro';
import PremiumUpgrades from '../components/PremiumUpgrades.astro';
import ClosingBanner from '../components/ClosingBanner.astro';
import FAQ from '../components/FAQ.astro';
import ContactForm from '../components/ContactForm.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Japón a tu Alcance 2026 | El Otoño más Espectacular">
	<main>
		<Hero />
		<Experiences />
		<Inclusions />
		<MemorableMoments />
		<Itinerary />
		<Support />
		<PremiumUpgrades />
		<ClosingBanner />
		<FAQ />
		<ContactForm />
	</main>
	<Footer />
</Layout>
